# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode_folders
.vscode/

#hiredis
src/third/hiredis/*
!src/third/hiredis/hiredis-master.zip

# log4cxx
src/third/log4cxx/*
!src/third/log4cxx/apache-log4cxx-0.10.0.tar.gz
!src/third/log4cxx/console.cpp
!src/third/log4cxx/inputstreamreader.cpp
!src/third/log4cxx/socketoutputstream.cpp

# protobuff
src/third/protobuf/*
!src/third/protobuf/protobuf-2.6.1.tar.gz

# tools
src/tools/daeml

# cmake
bin/
build/

# output_pack
im-server-*.tar.gz
im-server-*/
pack_folder/
