# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# specific items

# 1.auto_setup
# im_server
/auto_setup/im_server/im-server*


# 2.server/src

# base===
/server/src/base/pb/google/
/server/src/base/pb/lib/
/server/src/base/slog/lib/

/server/src/base/CMakeFiles/

/server/src/base/cmake_install.cmake

/server/src/base/CMakeCache.txt

/server/src/base/Makefile

# db_proxy_server===
/server/src/db_proxy_server/db_proxy_server


/server/src/db_proxy_server/CMakeFiles/

/server/src/db_proxy_server/cmake_install.cmake

/server/src/db_proxy_server/CMakeCache.txt

/server/src/db_proxy_server/Makefile

# etcd_login_server===
/server/src/etcd_login_server/etcd_login_server


/server/src/etcd_login_server/CMakeFiles/

/server/src/etcd_login_server/cmake_install.cmake

/server/src/etcd_login_server/CMakeCache.txt

/server/src/etcd_login_server/Makefile

# file_server===
/server/src/file_server/file_server


/server/src/file_server/CMakeFiles/

/server/src/file_server/cmake_install.cmake

/server/src/file_server/CMakeCache.txt

/server/src/file_server/Makefile

# http_msg_server===
/server/src/http_msg_server/http_msg_server


/server/src/http_msg_server/CMakeFiles/

/server/src/http_msg_server/cmake_install.cmake

/server/src/http_msg_server/CMakeCache.txt

/server/src/http_msg_server/Makefile

# login_server===
/server/src/login_server/login_server


/server/src/login_server/CMakeFiles/

/server/src/login_server/cmake_install.cmake

/server/src/login_server/CMakeCache.txt

/server/src/login_server/Makefile

# msfs===
/server/src/msfs/msfs


/server/src/msfs/CMakeFiles/

/server/src/msfs/cmake_install.cmake

/server/src/msfs/CMakeCache.txt

/server/src/msfs/Makefile

# msg_server===
/server/src/msg_server/msg_server


/server/src/msg_server/CMakeFiles/

/server/src/msg_server/cmake_install.cmake

/server/src/msg_server/CMakeCache.txt

/server/src/msg_server/Makefile

# push_server===
/server/src/push_server/push_server


/server/src/push_server/CMakeFiles/

/server/src/push_server/cmake_install.cmake

/server/src/push_server/CMakeCache.txt

/server/src/push_server/Makefile

# route_server===
/server/src/route_server/route_server


/server/src/route_server/CMakeFiles/

/server/src/route_server/cmake_install.cmake

/server/src/route_server/CMakeCache.txt

/server/src/route_server/Makefile

# log4cxx
/server/src/log4cxx/apache-log4cxx-0.10.0.0voice/
/server/src/log4cxx/include/
/server/src/log4cxx/lib/

# protobuf
/server/src/protobuf/bin/
/server/src/protobuf/include/
/server/src/protobuf/lib/
/server/src/protobuf/protobuf-2.6.1/

# slog===
/server/src/slog/include/
/server/src/slog/lib/

/server/src/slog/CMakeFiles/

/server/src/slog/cmake_install.cmake

/server/src/slog/CMakeCache.txt

/server/src/slog/Makefile


server/im-server-1.0.tar.gz


# 3.protobuf
/pb/gen/
/server/src/base/pb/protocol/

